/* Variables */
:root {
    --main-text-color: rgba(117, 117, 117, 1);
    --headline-text-color: rgba(33, 33, 33, 1);
    --accent-text-color: rgba(33, 150, 243, 1);
    --logo-text-color: rgba(0, 0, 0, 1);
    --footer-text-color: rgba(255, 255, 255, 0.6);

    --main-background-color: #F5F5F5;
    --header-background-color: rgba(255, 255, 255, 1);
    --subsidiary-background-color: rgba(245, 244, 250, 1);
    --secondary-background-color: rgba(47, 48, 58, 1);
 
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


/* Common styles */
body {
    font-family: 'Roboto', sans-serif;

    color: var(--main-text-color);
    background-color: var(--main-background-color);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 94px 15px;
}

.logo,
.active {
    text-decoration: none;
}

.active {
    cursor: pointer;
}

ul {
    list-style: none;
}

button {
    cursor: pointer;
}


/* Header */
.header-container {
    padding: 24px 15px 25px;
    height: 80px;
    display: flex;
    align-items: center;
}

.header {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    background-color: var(--header-background-color);
}

.nav-list, 
.contacts-list {
    display: flex;
    padding: 0;
}

.nav {
    padding: 32px 0;
}

.nav,
.nav:visited {
    color: var(--headline-text-color);
}

.nav-list {
    margin: 0 0 0 93px;
}

.contacts-list {
    margin: 0 0 0 auto;
}

.contacts {
    padding: 32px 0;
}

.contacts {
    display: flex;
}

.contacts-icon {
    margin-right: 10px;
    fill: currentColor;
}

.contacts,
.contacts:visited {
    color: var(--main-text-color);
}

.nav-list-item {
    position: relative;
}

.nav-list-item:not(:last-child) {
    margin-right: 50px;
}

.contacts-list-item:not(:last-child) {
    margin-right: 50px;

}

.is-current.nav-list-item::after {
    content: '';
    position: absolute;
    transform: translate(-100%, 44px);

    width: 100%;
    height: 4px;

    background-color: var(--accent-text-color);
    border-radius: 2px;
}

/* Logo */
.logo {
    display: inline-block;
    width: 145px;
    height: 31px;

    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    color: var(--logo-text-color);

}

.accent {
    color: var(--accent-text-color);
}

/* Active elements */
.active {
    transition: color 250ms var(--timing-function);
}

.active:hover,
.active:focus {
    color: var(--accent-text-color);
}

/* Footer */
.footer-container {
    display: flex;
    height: 252px;
    padding: 60px 15px;
    
}

.logo-address-container {
    display: flex;
    flex-direction: column;
}

.socials-container {
    display: flex;
    flex-direction: column;
    margin-left: 70px;
}

.footer {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: var(--footer-text-color);
    background-color: var(--secondary-background-color);
}

.footer .logo {
    color: var(--header-background-color);
}

.address-list {
    padding: 0;
    margin: 0;
}

.mail,
.tel {
    color: rgba(255, 255, 255, 0.6);
}

.address-list:first-child {
    margin-top: 20px;
}

.address-list-item {
    width: 231px;
    height: 21px;
}

.address-list-item + .address-list-item {
    margin-top: 9px;
}

.address {
    color: var(--header-background-color);
}

.footer * {
    font-style: normal;
}

.socials-title {
    margin: 12px 0 20px 0;

    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;

    color: var(--header-background-color);
}
 
.footer .socials-list {
    display: flex;
    margin: 0;
    padding: 0;
}

.socials-list-item {
    width: 44px;    
    height: 44px;
    border-radius: 50%;
    padding: 12px;
}

.footer .socials-list-item {
    background-color: rgba(255, 255, 255, 0.1);
}

.socials-list-item:not(:last-child) {
    margin-right: 10px;
}

.socials-icon {
    width: 20px;
    height: 20px;

    fill: var(--header-background-color);
}

/* Footer form*/
.footer-form {
    margin-left: 93px;
}

.form-action {
    display: block;
    margin: 12px 0 20px 0;

    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;

    color: var(--header-background-color);
}

.form-mail {
    display: flex;
    align-items: center;
}

.form-field {
    position: relative;

    display: flex;
    align-items: center;
}

.form-input {
    width: 358px;
    height: 50px;
    padding: 15px 0 15px 63px;

    color: var(--header-background-color);
    background: rgba(33, 150, 243, 0.00);
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}


.form-label {
    position: absolute;
    left: 0;

    margin-left: 16px;
}

.form-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    height: 50px;
    padding: 10px 28px;
    margin-left: 12px;

    font-weight: 700;
    line-height: 1.9;
    letter-spacing: 0.96px;

    border: 0;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: var(--header-background-color);
    background-color: var(--accent-text-color);
}

.form-btn:hover,
.form-btn:focus {
    box-shadow: inset 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

/* Studio */

/* Hero */
.hero {
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-container {
    height: 600px;
}

.hero-title {
    margin-top: 106px;
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--header-background-color);
}

.hero-btn {
    display: block;  
    margin: 0 auto;
    padding: 10px 32px;
    border-radius: 4px;
    border: transparent;

    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;

    color: var(--header-background-color);
    background-color: var(--accent-text-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

  .hero-btn:hover,
  .hero-btn:focus {
    box-shadow: inset 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
 }


/* Modal window */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.1);
    opacity: 1;

    transition: opacity 250ms var(--timing-function);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.9);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);

    width: 528px;
    height: 581px;

    background-color: var(--header-background-color);
    border-radius: 4px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

    transition: transform 250ms var(--timing-function);
}

.modal-btn {
    position: absolute;
    top: 8px;
    right: 8px;

    width: 30px;
    height: 30px;

    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--header-background-color);
}

.modal-btn-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* Features */
.features {
    font-size: 14px;
    letter-spacing: 0.03em;
    background-color: var(--header-background-color);

    background-color: var(--header-background-color);
}

.features-list {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: space-between;
}

.features-list-item {
    width: 270px;
}

.features-icon {
    width: 270px;
    height: 120px;
    padding: 25px 100px;
    border-radius: 4px;

    background-color: var(--subsidiary-background-color);

}

.features-ghost-title {
    display: none;
}

.features-title {
    margin-top: 30px;
    margin-bottom: 10px;

    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;

    color: var(--headline-text-color);
}

.features-desc {
    margin: 0;

    line-height: 1.71;
    letter-spacing: 0.42px;

}


/* Services */
.services {
    background-color: var(--header-background-color);
}

.services-container {
    padding-top: 0;
}

.services-title {
    margin: 0 0 50px 0;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--headline-text-color);
}

.services-list {
    display: flex;
    justify-content: space-between;
    
    margin: 0;
    padding: 0;
}

.services-list-item {
    margin: 0;
    padding: 0;
}

.service-thumb {
    position: relative;
    
    height: 294px;
}

.services-desc {
    position: absolute;
    bottom: 0;

    width: 100%;
    height: 70px;
    margin: 0;
    padding: 27px 0;

    text-align: center;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;

    color: var(--header-background-color);
    background-color: rgba(47, 48, 58, 0.80);
}

/* Team */
.team {
    background-color: var(--subsidiary-background-color);
}

.team-title {
    margin: 0 0 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--headline-text-color);
}

.team-list {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

.team-list-item {
    padding: 0 0 30px 0;

    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    background-color: var(--header-background-color);
}

.team-subtitle {
    margin-top: 30px;
    margin-bottom: 0;

    font-weight: 500;

    color: var(--headline-text-color);
}

.team-desc {
    margin-top: 10px;
    margin-bottom: 16px;
}

.team .socials-list {
    display: flex;
    margin: 0 32px;
    padding: 0;
}

.team .socials-icon {
    fill: rgba(175, 177, 184, 1);
}

.socials-list-item {
    transition: background-color 250ms var(--timing-function);
}

.socials-icon {
    transition: fill 250ms var(--timing-function);
}

.socials-list-item:hover,
.socials-list-item:focus {
    background-color: var(--accent-text-color);
}

.socials-list-item:hover .socials-icon,
.socials-list-item:focus .socials-icon {
    fill: var(--header-background-color);
}


/* Clients */
.clients {
    background-color: var(--header-background-color);
}

.clients-container {
    width: 1200px;
    margin: 0 auto;
    padding: 94px 15px;
}

.clients-title {
    margin: 0 0 50px 0;

    text-align: center;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.08px;

    color: var(--headline-text-color);
}

.clients-list {
    display: flex;

    margin: 0;
    padding: 0;
}

.clients-list-item {
    width: 170px;
    height: 92px;

    border-radius: 4px;
    border: 1px solid #AFB1B8;

    transition: border 250ms var(--timing-function);
}

.clients-list-item:hover,
.clients-list-item:focus {
    border: 1px solid var(--accent-text-color);
    cursor: pointer;
}

.clients-icon {
    width: 170px;
    height: 92px;
    padding: 16px 32px;

    fill: rgba(175, 177, 184, 1);

    transition: fill 250ms var(--timing-function);
}

.clients-list-item:hover .clients-icon,
.clients-list-item:focus .clients-icon {
    fill: var(--accent-text-color);
}

.clients-list-item:not(:last-child) {
    margin-right: 30px;
}


/* Portfolio */

/* Filter*/
.projects-buttons {
    margin: 0 0 50px;
    padding: 0;
    display: flex;
    justify-content: center;
}

.projects-buttons-btn:not(:last-child) {
    margin-right: 8px;
}

.first-btn {
    padding-left: 25px;
    padding-right: 25px;
}

.btn {
    border-radius: 4px;
    border: transparent;
    height: 38px;
    padding-left: 22px;
    padding-right: 22px;
    height: 38px;

    font-weight: 500;
    line-height: 1.63;

    text-align: center;
    letter-spacing: 0.03em;

    color: var(--headline-text-color);

    transition: color 250ms var(--timing-function), 
                background-color 250ms var(--timing-function), 
                box-shadow 250ms var(--timing-function);
}

.btn:hover,
.btn:focus {
    color: var(--header-background-color);
    background-color: var(--accent-text-color);

    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

/* Projects */
.projects-container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 94px 15px;
}

.projects {
    background-color: var(--header-background-color);
}

.projects-list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.projects-list-item {
    width: 370px;
    height: 404px;

    border: 1px solid #EEE;

    transition: box-shadow 250ms var(--timing-function);
}

.projects-link {
    text-decoration: none;
}

.project-thumb {
    position: relative;
    overflow: hidden;
}

.project-overlay {
    position: absolute;
    top: 100%;
    transform: translateY(0);

    width: 100%;
    height: 100%;
    padding: 63px 24px;

    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0.54px;

    background: rgba(33, 150, 243, 0.9);
    color: var(--header-background-color);
    opacity: 0;

    transition: transform 250ms var(--timing-function), opacity 250ms var(--timing-function);
}

.projects-list-item:hover .project-overlay,
.projects-list-item:focus .project-overlay {
    transform: translateY(-100%);

    opacity: 1;
}

.projects-list-item:hover,
.projects-list-item:focus {
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.projects-link:visited {
    color: inherit;
}

.projects-ghost-title {
    display: none;
}

.projects-title {
    margin: 20px auto 4px 24px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    color: var(--headline-text-color);
}

.projects-desc {
    margin: 0 auto 20px 24px;

    line-height: 1.88;
    letter-spacing: 0.03em;
}
