.logo {
    display: inline-block;
    
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0.72px;

    @media screen and (max-width: 1199px) {
        width: 154px;
    }

    @media screen and (min-width: 1200px) {
        text-align: start;
        font-size: 26px;
        letter-spacing: 0.78px;
    }    
}

.header__logo {
    color: $logoTextColor;
}

.footer__logo {
    color: $headerBackgroundColor;
    display: block;
    margin: 0 auto;
}

.logo__accent {
    color: $accentTextColor;
}
