/* Filter*/
.projects__filter {
    display: flex;
    flex-wrap: wrap;
    row-gap: 15px;
    margin-bottom: 40px;
    padding: 0;

    @media screen and (min-width: 768px) {
        justify-content: center;
        margin-bottom: 30px;
    }

    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;
    }  
}

.projects__label {
    display: block;
    height: 38px;
    padding: 6px 22px;
    margin-right: 8px;

    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.48px;
    
    border-radius: 4px;
    color: $headlineTextColor;
    background-color: $subsidiaryBackgroundColor;

    transition: color 250ms $timingFunction,
                background-color 250ms $timingFunction;
}

.projects__label:hover {
    cursor: pointer;
}

.projects__label--first {
    padding: 6px 25px;
}

.projects__label--last {
    margin: 0;
}

.projects__input {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;

    position: absolute;
}

.projects__input:checked + .projects__label,
.projects__input:hover + .projects__label,
.projects__input:focus + .projects__label {
    color: $headerBackgroundColor;
    background-color: $accentTextColor;
}

/* Projects */
.projects__list {
    margin: 0 auto;
}

.projects {
    background-color: $headerBackgroundColor;
}

.projects__list {
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
}

.projects__item {
    border: 1px solid #EEE;
    transition: box-shadow 250ms $timingFunction;

    @media screen and (min-width: 768px) {
        width: calc(50% - 15px);
    }

    @media screen and (min-width: 1200px) {
        width: calc((100% - 30px * 2) / 3);
    }
}

.projects__item:not(:last-child) {
    margin-bottom: 30px;

    @media screen and (min-width: 768px) {
        margin-bottom: 0;
    }
}


.projects__thumb {
    position: relative;
    overflow: hidden;
}

.projects__overlay {
    position: absolute;
    top: 100%;
    transform: translateY(0);

    width: 100%;
    height: 100%;
    padding: 63px 24px;

    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0.54px;

    background: rgba(33, 150, 243, 0.9);
    color: $headerBackgroundColor;
    opacity: 0;

    transition: transform 250ms $timingFunction, opacity 250ms $timingFunction;
}

.projects__item:hover .projects__overlay,
.projects__item:focus .projects__overlay {
    transform: translateY(-100%);
    opacity: 1;
}

.projects__item:hover,
.projects__item:focus {
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.projects__link:visited {
    color: inherit;
}

.projects__info {
    padding: 20px 24px;
}

.projects__title {
    margin-bottom: 4px;

    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 1.08px;

    color: $headlineTextColor;
}

.projects__desc {
    line-height: 1.88;
    letter-spacing: 0.48px;
}
