//Palette
$mainTextColor: rgba(117, 117, 117, 1);
$headlineTextColor: rgba(33, 33, 33, 1);
$accentTextColor: rgba(33, 150, 243, 1);
$logoTextColor: rgba(0, 0, 0, 1);
$footerTextColor: rgba(255, 255, 255, 0.6);

$mainBackgroundColor: #F5F5F5;
$headerBackgroundColor: rgba(255, 255, 255, 1);
$subsidiaryBackgroundColor: rgba(245, 244, 250, 1);
$secondaryBackgroundColor: rgba(47, 48, 58, 1);

//Transitions
$timingFunction: cubic-bezier(0.4, 0, 0.2, 1);
